:root {
  --colorwhite: #fff;
  --colorazul:#1F2A40;
  --colorverde:#00764B;
  --colorgrisclaro:#A6A6A6;
}
/* Estilos de del componente detalle proyecto */

/* Contenedor principal */
  .contenedor-Detalle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .card-foto {
    display: flex;
    margin: 30px;
    width: 800px;
    height: 100%;
    background-color: var(--colorazul);
    color: var(--colorwhite);
    border-radius: 15px;
  }
  
  .margen{
    margin: 30px;
    width: 800px;
    border:2px solid #C7C5C5;
    border-radius: 15px;
  }
  
  .elemento-avance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    margin: 10px;
    text-align: center;
  }

  .avance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 18px;
    font-weight: 500;
  }

  .porcentaje-avance{
    font-size: 40px;
  }

/*Botones  */
  .Boton-regresar{
    width: 119px;
    height: 50px;
    color: var(--colorwhite);
    border:2px solid var(--colorwhite);
    background-color: var(--colorazul);
    border-radius: 5px;
    font-size: 18px;
  }

  .Boton-regresar:hover{
    color: #6693FD;
    border-color: #6693FD;
  }

  .boton-editar{
    width: 120px;
    height: 50px;
    color: var(--colorwhite);
    background-color: var(--colorverde);
    border: var(--colorverde);
    margin-top:40px;
    font-size: 20px;
  }
  
  .card-text p{
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  
  /* comoponente de descripcion */
  .card{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    width: 750px;
  }
  /* Arriba | Derecha | Abajo | Izquierda */
  .cards{
    margin:20px 0px 10px 20px;
    padding-right: 10px;
    border-right:3px solid var(--colorgrisclaro) ;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .bold{
    font-weight: 600;
  }
  
  .card-body{
    text-align: left;
  }

  .texto-v{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
  }

  .texto-bold{
    margin-right:5px ;
    font-weight: 400;
    font-size: 12px;
  }

  .texto-parrafo{
    justify-content: left;
  }

  
  .card-text{
    width: 100%;
    text-align:left;
    margin: 10px;
  }
  
  .card-title{
    display: flex;
    text-align: left;
    font-weight: 500;
  
  }
  
  .texto-fecha p{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
  }
  
  .boton-export{
    width: 120px;
    height: 50px;
    color: var(--colorwhite);
    background-color: #760000;
    border-color: #760000;
    margin: 20px;
    font-size: 18px;
  }
  
  .imagen{
    background-color: #760000;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
  }
  
  .contenedor-fechas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .fechas{
    text-align: left;
    margin: 10px;
  }
  
  .rectangulo{
    margin: 20px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--colorazul);
    color: var(--colorwhite);
  }

  .rectangulo p{
    margin: 0;
    padding: 0;
  }



  .forma{
    display: flex;
    flex-wrap: wrap;
  }

.indicador{
  display: flex;
  flex-direction: column;
  width: 140px;
  font-weight: 500;
}

.cards-indicador{
  width: 600px;
  display: flex;    
  flex-direction: column;
  justify-content: center;
}

.texto-avance{
  font-size: 20px;
  font-weight: 600;
}

.card-texts{
  display: flex;
  text-align: left;
  font-size: 15px;
  width: 290px;
  color:#464646
}

.porcetanje-indi{
  font-size: 20px;
}

.reverse{
  display: flex;
  flex-direction: row;
  height: 300px;
}

.title-margin{
  width: 92%;
  margin: 20px auto 0;
}


@media (max-width: 730px){
  .card-foto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 600px;
    border-radius: 15px;
  }

  .imagen{
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #760000;
    width: 600px;
    height: 300px;
  }

  .cards{
    margin:20px 50px 10px 50px;
    width: 300px;
    border-right:2px solid var(--colorgrisclaro);
    border-top: none;
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .reverse{
    display: flex;
    flex-direction: row;
  }

  .indicador{
    margin-top: 20px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
  }

  .texto-v{
    margin-top: 20px;
    display: flex;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
  }

  .elemento-avance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:20px auto;
    width: 200px;
  }

  .margen{
    margin: 30px;
    width: 600px;
    border:2px solid #C7C5C5;
    border-radius: 15px;
  }
  .cards-indicador{
    width: 350px;   
  }

  .card{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    width: 530px;
  }

  .contenedor-fechas{
    display: flex;
    flex-wrap: wrap;
  }

  .card-texts{
    font-size: 15px;
    width: 450px;
    color:#464646
  }

  .contenedor-fechas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fechas{
    width: 200px;
    text-align: left;
    margin: 10px;
  }
  
} 


/* media queries */
@media screen and (max-width: 480px){
  .card-foto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 400px;
    height: 900px;
    border-radius: 15px;
  }

  .imagen{
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #760000;
    width: 400px;
    height: 300px;
  }

  .cards{
    margin:20px 50px 10px 50px;
    width: 300px;
    border-top:2px solid var(--colorgrisclaro);
    border-right: none;
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .reverse{
    margin-top: 290px;
    display: flex;
    flex-direction: column-reverse;
  }

  .indicador{
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
  }

  .texto-v{
    margin-top: 20px;
    display: flex;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
  }

  .elemento-avance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:20px auto;
    width: 200px;
  }

  .margen{
    margin: 30px;
    width: 400px;
    border:2px solid #C7C5C5;
    border-radius: 15px;
  }
  .cards-indicador{
    width: 350px;   
  }

  .card{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    width: 350px;
  }

  .contenedor-fechas{
    display: flex;
    flex-direction: column;
  }

  .card-texts{
    font-size: 15px;
    width: 290px;
    color:#464646
  }
}

