.password_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password_container>.password_form_container {
  max-width: 800px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.password_container>.password_form_container>.left_password {
  flex: 2;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 7.5%;
}

.password_container>.password_form_container>.left_password>.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.password_container>.password_form_container>.left_password>.form_container>h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.password_container>.password_form_container>.left_password>.form_container>p {
  max-width: 370px;
  font-size: 1.2rem;
  text-align: justify;
  color: #5f5f5f;
  margin-bottom: 1rem;
}

.password_container>.password_form_container>.left_password>.form_container>.input_password {
  outline: none;
  border: none;
  width: 370px;
  padding: 10px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 1.2rem;
  color: #5f5f5f;
}


.password_container>.password_form_container>.left_password>.form_container>.password_error_msg {
  width: 370px;
  font-size: 1rem;
  color: #f34646;
  border-radius: 5px;
  text-align: left;
}

.right_password {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3bb19b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.password_container>.password_form_container>.left_password>.form_container>.green_btn {
  border: none;
  outline: none;
  width: 370px;
  background-color: #3bb19b;
  color: white;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 10px;
}

.login__forgot {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 1.2rem;
}

.login_container{
  width: 90%;
  margin: auto;
}

.login_form_container{
  flex-direction: column-reverse;
  width: 90%;
  margin: auto;
}

@media screen and (min-width:768px) {
  .password_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .password_container>.password_form_container {
    max-width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  
  .password_container>.password_form_container>.left_password {
    flex: 2;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 7.5%;
  }
  
  .password_container>.password_form_container>.left_password>.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .password_container>.password_form_container>.left_password>.form_container>h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .password_container>.password_form_container>.left_password>.form_container>p {
    max-width: 370px;
    font-size: 1.2rem;
    text-align: justify;
    color: #5f5f5f;
    margin-bottom: 1rem;
  }
  
  .password_container>.password_form_container>.left_password>.form_container>.input_password {
    outline: none;
    border: none;
    width: 370px;
    padding: 10px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 1.2rem;
    color: #5f5f5f;
  }
  
  
  .password_container>.password_form_container>.left_password>.form_container>.password_error_msg {
    width: 370px;
    font-size: 1rem;
    color: #f34646;
    border-radius: 5px;
    text-align: left;
  }
  
  .right_password {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3bb19b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .password_container>.password_form_container>.left_password>.form_container>.green_btn {
    border: none;
    outline: none;
    width: 370px;
    background-color: #3bb19b;
    color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 10px;
  }
  
  .login__forgot {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.2rem;
  }

  .login_form_container{
    flex-direction: row;
    margin: auto;
  }
}