/* Header */
.btn-purple {
    background-color: purple;
    color: white !important;
    border-radius: 20px;
  }
  .navbar-nav li {
    margin-right: 10px;
  }
a{
  text-decoration: none;
  color: #0F265C;
}
  
  