/*home*/
.graphic-image img{
    width: 300px;
    height: auto;
}
@media (min-width: 576px){
    .graphic-image img{
        width: 400px;
        height: auto;
    }
}
@media (min-width: 768px){
    .graphic-image img{
        width: 400px;
        height: auto;
    }
}
@media (min-width: 992px){
    .graphic-image img{
        width: 550px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .graphic-image img{
        width: 600px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .graphic-image img{
        width: 700px;
        height: auto;
    }
}

@media (min-width: 576px){
    .graphicLogo img{
        width: 300px;
        height: auto;
    }
}
@media (min-width: 768px){
    .graphicLogo img{
        width: 150px;
        height: auto;
    }
}
@media (min-width: 992px){
    .graphicLogo img{
        width: 200px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .graphicLogo img{
        width: 250px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .graphicLogo img{
        width: 300px;
        height: auto;
    }
}

@media (min-width: 576px){
    .organi img{
        width: 300px;
        height: auto;
    }
}
@media (min-width: 768px){
    .organi img{
        width: 150px;
        height: auto;
    }
}
@media (min-width: 992px){
    .organi img{
        width: 200px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .organi img{
        width: 250px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .organi img{
        width: 400px;
        height: auto;
    }
}