/*home*/
.graphic img{
    width: 300px;
    height: auto;
}
@media (min-width: 576px){
    .graphic img{
        width: 400px;
        height: auto;
    }
}
@media (min-width: 768px){
    .graphic img{
        width: 400px;
        height: auto;
    }
}
@media (min-width: 992px){
    .graphic img{
        width: 550px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .graphic img{
        width: 600px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .graphic img{
        width: 700px;
        height: auto;
    }
}

@media (min-width: 576px){
    .graphicLogo img{
        width: 300px;
        height: auto;
    }
}
@media (min-width: 768px){
    .graphicLogo img{
        width: 150px;
        height: auto;
    }
}
@media (min-width: 992px){
    .graphicLogo img{
        width: 200px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .graphicLogo img{
        width: 250px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .graphicLogo img{
        width: 300px;
        height: auto;
    }
}

@media (min-width: 576px){
    .organi img{
        width: 300px;
        height: auto;
    }
}
@media (min-width: 768px){
    .organi img{
        width: 150px;
        height: auto;
    }
}
@media (min-width: 992px){
    .organi img{
        width: 200px;
        height: auto;
    }
}
@media (min-width: 1200px){
    .organi img{
        width: 250px;
        height: auto;
    }
}
@media (min-width: 1400px){
    .organi img{
        width: 400px;
        height: auto;
    }
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec8e;
}

.home {
  padding: 35px 75px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.home > h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #3bb19b;
  margin: 0.5rem 0;
}

.home > button {
  width: 100%;
  background-color: #3bb19b;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  transition-duration: 0.3s;
  border-radius: 8px;
  font-weight: normal;
  margin: 0.5rem 0;
}

.home > button:hover {
  background-color: #3bb19b;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .home {
    padding: 15px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .home {
    padding: 15px 25px;
  }
}
