.step{
    width: 90%;
    margin: auto;
}

.step .add-form{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 40px auto;
}

.step .step-icon{
    color: white;
    margin-right: 6px;
    font-size: 20px;
}

.step .icon-delete{
    color: red;
}

.step .buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.step .buttons-create{
    display: flex;
    justify-content: space-between;
}

.box-step{
    margin: auto;
}