.step {
    width: 90%;
    margin: auto;
}

.step-content {
    min-height: 70vh;
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 40px auto;
}

.results-form {
    width: 90%;
}

.results-form h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.153);
}

.results-form .textField {
    width: 90%;
    margin: 6px 0;
}

.results-form .textField-result {
    width: 100%;
}

.results {
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.result-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activities {
    margin: 10px 0;
}

.card .add-form {
    width: 90%;
}

.step .step-icon {
    color: white;
    margin-right: 6px;
    font-size: 20px;
}

.step .icon-delete {
    color: red;
}

.step .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0 30px 0;
}

.step .buttons-create {
    display: flex;
    justify-content: space-between;
}

.box-step {
    margin: auto;
}

.list-objetives {
    padding: 0;
}

.objetive {
    list-style: none;
    width: 100%;
    height: auto;
    padding: 5px 20px;
    margin: 5px 0;
    background-color: rgb(225, 225, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bton-trash {
    background: rgb(159, 6, 6);
    color: white;
    border: none;
    border-radius: 4px;
}

.bton-trash .icon-trash {
    font-size: 15px;
    margin: 5px;
}

.data-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-title .btns-actions {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.link-btn {
    text-decoration: none;
}

.title-edit {
    font-size: 30px;
}

.activities input[type=checkbox] {
    display: none;
}

.image-fake {
    display: none;
}

.step-label{
    width: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}

.steps-head{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .step {
        width: 90%;
        margin: auto;
    }

    .step-content {
        min-height: 70vh;
    }

    .add-form {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 40px auto;
        max-width: 800px;
    }

    .results-form {
        width: 80%;
    }

    .results-form h4 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.153);
    }

    .results-form .textField {
        width: 90%;
        margin: 6px 0;
    }

    .results-form .textField-result {
        width: 100%;
    }

    .results {
        border: 1px solid rgba(0, 0, 0, 0.17);
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
    }

    .result-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .activities {
        margin: 10px 0;
    }

    .card .add-form {
        width: 85%;
        max-width: 800px;
    }

    .step .step-icon {
        color: white;
        margin-right: 6px;
        font-size: 20px;
    }

    .step .icon-delete {
        color: red;
    }

    .step .buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 800px;
        margin: auto;
        padding: 20px 0 30px 0;
    }

    .step .buttons-create {
        display: flex;
        justify-content: space-between;
    }

    .box-step {
        margin: auto;
    }

    .list-objetives {
        padding: 0;
    }

    .objetive {
        list-style: none;
        width: 100%;
        height: auto;
        padding: 5px 20px;
        margin: 5px 0;
        background-color: rgb(225, 225, 252);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bton-trash {
        background: rgb(159, 6, 6);
        color: white;
        border: none;
        border-radius: 4px;
    }

    .bton-trash .icon-trash {
        font-size: 15px;
        margin: 5px;
    }

    .data-title {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data-title .btns-actions {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .link-btn {
        text-decoration: none;
    }

    .title-edit {
        font-size: 30px;
    }

    .activities input[type=checkbox] {
        display: none;
    }

    .image-fake {
        display: none;
    }
}

